header{
    background: #1074e0;
}
.top-bar{
    padding: 0;
    font-size: 12px;
    border-bottom: 4px solid #0e2c81;
    min-height: 40px;
}
.main-header{
    padding: 20px 0 25px;
}
.site-title{
    color: #ffff;
}