.footer .footer-bottom{
    background: #1c56e7;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer .footer-bottom ul li a {
    line-height: 30px;
    color: #ffffff;
    position: relative;
    margin-left: 23px;
    display: block;
    text-decoration: none;
    font-family:    "Rockwell Condensed",sans-serif;
}
.footer-title{
    color: #ffff;
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.footer-title a {
    color: #ffff;
    font-size: 1.4rem;
    text-decoration: none;
}